---
# Role needed for service accounts running the deploy task of the deploy pipeline

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: deploy-function
rules:
- apiGroups:
  - "serving.knative.dev"
  resources:
  - services
  - routes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
